.list-pokemon {
	width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
    /*background-color: #0a0a0c; /* Fondo oscuro */
    /*border: 1px solid #c8aa6e; /* Borde dorado */
    border-radius: 8px; /* Bordes redondeados */
    overflow: scroll;
    height: 67vh;
}
.pokemon-section .list-pokemon{
    justify-content: flex-start;
}
/* Cada ítem de Pokémon */
.pokemon-item {
    background-color: rgba(50, 10, 10, 0.3); /* Fondo oscuro */
    border: 3px solid rgba(50, 10, 10, 1.0); /* Borde dorado */
    border-radius: 2px; /* Bordes redondeados */
    padding: 10px;
    width: 200px; /* Ancho fijo para cada ítem */
    height: 150px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave */
}

/* Efecto hover para los ítems */
.pokemon-item:hover {
    background: linear-gradient(transparent, rgba(250, 250, 250, 0.2));
    border-image: linear-gradient(to bottom, rgb(190, 10, 10), rgb(110, 10, 10)) 1;
     /* Fondo más claro */
    box-shadow: 0 0 10px rgba(200, 170, 110, 0.5); /* Sombra dorada */
}

/* Estilo para el Pokémon seleccionado */
.pokemon-item[style*="border"] {
    border: 2px solid #c8aa6e; /* Borde más grueso */
    background-color: rgba(200, 170, 110, 0.1); /* Fondo dorado sutil */
}

/* Contenedor de la imagen y el nombre/nivel */
.box-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Imagen del Pokémon */
.box-1 img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 5px rgba(200, 170, 110, 0.5)); /* Sombra dorada */
    scale: 1.5;
    margin-top: -30px;
}

/* Nombre y nivel del Pokémon */
.name-level h5 {
    color: rgba(150, 150, 150, 1.0); /* Texto dorado */
    /*font-family: 'Montserrat', sans-serif; /* Fuente moderna */
    font-size: 14px;
    margin: 0;
}

/* Contenedor de la barra de HP */
.hp-container {
    margin-top: 10px;
}

/* Texto de HP */
.health-count {
    color: rgba(150, 150, 150, 1.0); /* Texto dorado */
    font-size: 12px;
    margin: 0;
}

/* Barra de HP */
.bar-health {
    width: 100%;
    height: 10px;
    background-color: #2d2d2d; /* Fondo oscuro */
    border: 1px solid rgba(100, 10, 10, 1.0); /* Borde dorado */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden;
}

/* Color de la barra de HP */
.bar-health::-webkit-progress-value {
    background-color: rgba(80, 10, 10, 1.0); /* Color dorado */
    border-radius: 5px; /* Bordes redondeados */
}

.bar-health::-moz-progress-bar {
    background-color: #c8aa6e; /* Color dorado */
    border-radius: 5px; /* Bordes redondeados */
}


@media (max-width: 767px){

	.list-pokemon{
		width: 100%;
        padding: 20px;
		height: 23vh;
		grid-gap: 1vh;
		overflow: scroll;
        flex-direction: column;
	}
    .pokemon-selection .list-pokemon{
        align-content: center;
    }
	.pokemon-item .name-level{
		font-size: 0.7em;
	}
	.hp-container{
		font-size: 0.6em;
	}

}