.moves-window{
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: rgba(22, 0, 0, 1);
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 50px;
	padding-top: 30px;
	align-items: flex-start;
	justify-content: flex-start;
	z-index: 1;
}
.main-box{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 90%;
	width: 100%;
	background-color: transparent;
}
.moves-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	background-color: rgba(22, 0, 0, 1);
}
.move-item{
	width: 100%;
	height: 7vh;
	border: 1px solid rgba(250, 250, 250, 0.5);
	border-radius: 4px;
	margin-bottom: 10px;
	cursor: pointer;
}
.move-item:hover{
	background-color: rgba(250, 250, 250, 0.02);
}
.sprite-name{
	display: flex;
	height: 50%;
	font-size: 1.rem;
	align-items: flex-start;
	align-content: flex-start;
	vertical-align: baseline;
	white-space: nowrap;
	padding-right: 10px;
	overflow: hidden;
	width: 98%;
}
.sprite-name img{
	height: 60%;
	margin-right: 10px;
}
.pp{
	display: flex;
	justify-content: space-evenly;
	font-size: 1.2em;
}
.move-details{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(22, 0, 0, 1);
	font-size: 0.8rem;
}
.move-details h1{

}
.move-info{
	height: 50%;
}
.poke-info{
	margin-top:10%;
	margin-bottom: 10%;
	display: flex;
	align-items: center;
}
.poke-info img{

}

.moves-comeback-button{
	background: linear-gradient(rgba(40, 20, 20, 0.1), rgba(40, 20, 20, 0.4));
    border: 1px solid var(--gold-one); /* Borde dorado */
    color: darkgray; /* Texto dorado */
    /*font-family: 'Montserrat', sans-serif; /* Fuente moderna */
    font-size: 1rem; /* Tamaño de fuente */
    text-transform: uppercase; /* Texto en mayúsculas */
    cursor: pointer; /* Cursor de puntero */
    box-shadow: 0 0 3px rgba(200, 170, 110, 0.5); /* Sombra dorada */
    transition: all 0.2s ease; /* Transición suave */
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    border-image: linear-gradient(to bottom, var(--gold-one), var(--gold-two), var(--gold-four)) 1;
   	width: 40px;
   	height: 40px;
   	display: flex;
   	justify-content: center;
   	align-content: center;
   	align-items: center;
	}

@media (max-width: 767px){
	.moves-window{
		height: 100%;
		padding: 15px;
	}
	.main-box{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		height: 78%;
		width: 100%;
	}
	.moves-container{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 50%;
		background-color: rgba(22, 0, 0, 1);
	}

	.move-item{
		width: 100%;
		height: 6vh;
		border: 1px solid white;
		border-radius: 4px;
		margin-bottom: 10px;
		cursor: pointer;
		font-size: 14px;
	}
	.move-item:hover{
		background-color: rgba(250, 250, 250, 0.02);
	}
	.sprite-name{
		display: flex;
		height: 50%;
		font-size: 1em;
		align-items: flex-start;
		align-content: flex-start;
		vertical-align: baseline;
	}
	.sprite-name img{
		height: 60%;
		margin-right: 10px;
	}
	.pp{
		display: flex;
		justify-content: space-evenly;
		font-size: 1em;
	}
	.move-details{
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		background-color: rgba(22, 0, 0, 1);
	}
	.poke-info{
		display: flex;
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.types-sprites{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.types-sprites img{
		width: 40px;
	}
	.moves-pokemon-sprite{
		width: 80px;
		height: 80px;
		scale: 1.2;
	}
	h2 {
		font-size: 1em;
	}
	.move-details h2{
		font-size: 12px;
	}
	.move-info{
		height: 50%;
		width: 90%;
	}
	
	p{
		font-size: 9px;
	}
	.moves-comeback-button{
	    width: 35px;
	    height: 35px;
	    font-size: 15px;
	}
	
}