.items-section{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 50px;
	padding-top: 10px;
	height: 92%;
}
.items-grid-container{
	display: flex;
	justify-content: center;
	width: 81%;
	overflow: scroll;
	height: 100%;
	align-items: flex-start;
}
.items{
	width: 90%;
	display: grid;
	grid-gap: 1vh;
	grid-template-columns: repeat(auto-fill, minmax(22vh,1fr));
	padding-top: 20px;
	/*font-family: 'Beaufort for LoL', serif; */
}
.items article{
	position: relative;
	font-size: 10px;
	min-height: 22vh;
	border: 1px solid rgba(100, 100, 100, 0.4);
	background: radial-gradient(rgba(250, 250, 250, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s;
}
.items article:hover{
	filter: brightness(1.2);
	border: 1px solid var(--color-primary);
	background: radial-gradient(rgba(250, 250, 250, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}
.items img{
	scale: 4;
	border-radius: 5px;
}


@media (max-width: 767px){

	.items-section{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 20px;
		padding-top: 0px;
	}
	.items{
		grid-gap: 1vh;
		/*font-family: 'Beaufort for LoL', serif; */
	}

}