.items-section{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 50px;
	padding-top: 10px;
	height: 92.8%;
	overflow: scroll;
}
.items-grid-container{
	display: flex;
	justify-content: center;
	width: 81%;
	overflow: scroll;
	height: 100%;
	align-items: flex-start;
}
.items{
	width: 90%;
	display: grid;
	grid-gap: 1vh;
	grid-template-columns: repeat(auto-fill, minmax(22vh,1fr));
	padding-top: 20px;
	/*font-family: 'Beaufort for LoL', serif; */
}
.items article{
	position: relative;
	font-size: 10px;
	min-height: 22vh;
	border: 1px solid rgba(40, 40, 40, 1.0);
	background: radial-gradient(rgba(250, 250, 250, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s;
	border-radius: 2px;
	height: 100%;
}
.items article:hover{
	border-image: linear-gradient(to bottom, #F0E6D2, #C8AA6E, var(--gold-four)) 1;
	//background: radial-gradient(rgba(250, 250, 250, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}
.items img{
	scale: 4;
	border-radius: 5px;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

@media (max-width: 767px){

	.items-section{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 0px;
		padding-top: 0px;
		height: 92%;
	}
	.items-grid-container{
		width: 100%;
		padding: 10px;
		padding-top: 0px;
	}
	.items{
		width: 100%;
		display: grid;
		grid-gap: 1vh;
		grid-template-columns: repeat(auto-fill, minmax(20vh,1fr));
		padding-top: 20px;
		/*font-family: 'Beaufort for LoL', serif; */
	}
	.items article h3{
		font-size: 10px;
	}
	.essences-price, .rp-price{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
    }
    .price{
        width: 80%;
    }
    .price-number{
        margin-left: 5px;
        font-size: 13px;
    }
}