.pokemon-section{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	height: 90%;
	width: 100%;
	padding: 60px;
	padding-right: 0px;
}
.pokemon-list-container{
	width: 35%;
	height: 90%;
	align-items: center;
	//overflow-y: auto; /* Scroll si hay muchos Pokémon */
  	//scrollbar-width: thin; /* Estilo de scrollbar moderno */
  	//scrollbar-color: #00ffcc #1a1a1a;
  	overflow: scroll;
  	border-bottom: 1px solid var(--gold-five); 
}
.list-tittle{
    border-bottom: 1px solid var(--gold-five);
    width: 90%;
    font-size: 1.15rem;
    text-transform: uppercase;
    height: 40px;
    padding-left: 2px;
}
.pokemon-info{
	//font-family: 'Orbitron', sans-serif;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	/*background-color: rgba(50, 0, 0, 0.2);
	border: 1px solid rgba(250, 250, 250, 0.1);
	box-shadow: rgba(150, 0, 0, 0.3) 0px 5px 15px;
	border-radius: 5px;
	padding: 20px;*/
	align-items: flex-start;
	justify-content: flex-start;
	/*font-family: 'Beaufort for LoL', serif;*/
}
.pokemon-info .pokemon-details img{
	width: 40%;
	height: 75%;
	object-fit: contain;
}
.pokemon-details{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 50%;
	width: 100%;
}
.pokemon-stats{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	//align-items: center;
}
.pokemon-stats h2{
	overflow: hidden;
	margin-bottom: 20px;
	margin-left: -20px;
	border-bottom: 1px solid lightgoldenrodyellow;
	width: 80%;
	white-space: nowrap;
}
.stat{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	white-space: nowrap;
}
.bottom-box{
	display: flex;
	flex-direction: row;
	height: 50%;
	padding: 30px;
	width: 100%;
}
.pokemon-actions{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
.action-buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	margin-top: 30px;
}
.heal-button{
	background: linear-gradient(rgba(40, 20, 20, 0.1), rgba(40, 20, 20, 0.4));
    border: 1px solid var(--gold-one); /* Borde dorado */
    color: darkgray; /* Texto dorado */
    /*font-family: 'Montserrat', sans-serif; /* Fuente moderna */
    font-size: 1rem; /* Tamaño de fuente */
    text-transform: uppercase; /* Texto en mayúsculas */
    cursor: pointer; /* Cursor de puntero */
    box-shadow: 0 0 3px rgba(200, 170, 110, 0.5); /* Sombra dorada */
    transition: all 0.2s ease; /* Transición suave */
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    border-image: linear-gradient(to bottom, var(--gold-two), var(--gold-three), var(--gold-five)) 1;
    height: 40px;
    width: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}
.heal-button:hover{
	//background: linear-gradient(transparent, rgba(250, 210, 120, 0.1), rgba(250, 210, 120, 0.2), rgba(250, 210, 120, 0.3), rgba(250, 210, 120, 0.4));
	color: var(--secundary-color);
	border: 1px solid var(--color-secundary);
	filter: brightness(1.1);
}
.consume-items{
	height: 75%;
	overflow: scroll;
	align-content: flex-end;
	align-items: flex-end;
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
}
.consume-items .item-button{
	height: 60px;
	width: 50%;
	border: 1px;
	font-size: 0.8em;
	color: white;
	background-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.consume-items .item-button:hover{
	background-color: rgba(255, 255, 255, 0.02);
}







@media (max-width: 767px){

	.pokemon-section{
		height: 91%;
		flex-direction: column-reverse;
		padding: 2vw;
		padding-top: 0;
		align-items: center;
		justify-content: space-between;
		padding-top: 50px;
	}
	.list-tittle{
		margin-bottom: 5px;
		font-size: 1rem;
		height: 35px;
	}
	.pokemon-list-container{
		width: 100%;
		height: 50%;
	}
	.pokemon-info{
		height: 80%;
		width: 100%;
		padding: 1vw;
		justify-content: flex-start;
	}
	.pokemon-details{
		height: auto;
		margin-bottom: 10px;
	}
	.pokemon-stats{
		
	}
	.pokemon-stats h2{
		height: 32px;
	}
	.pokemon-stats span{
		font-size: 12px;
	}
	.bottom-box{
		padding: 0;
		padding-left: 20px;
		height: 20%;
	}
	.pokemon-actions{
		width: 100%;
	}
	.action-buttons{
		margin: 0;
		font-size: 0.5em;
		justify-content: flex-start;
	}
	.heal-button{
		margin-right: 7px;
	}
	.consume-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.consume-items .item-button{
		font-size: 0.42em;
		height: 100%;
	}
	.consume-items .item-button img{
		width: 15%;
	}
}
